﻿@if (Request.IsAuthenticated) {
    <text>
        User: @User.Identity.Name
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Registrate", "Register", "Account")</li>
        <li>@Html.ActionLink("Login", "Login", "Account")</li>
    </ul>
}
