﻿@using TimeReportingSystem.Models
@model TaskViewModel

@{
    ViewBag.Title = "AddTask";
}

<h2>Создание задачи</h2>

@using (Html.BeginForm(@"Task\AddTask")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

     <fieldset>
        <legend>Создание задачи</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </li>
            <li>
                @Html.HiddenFor(m => m.ProjectId)
            </li>
            <li>
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description)
                @Html.ValidationMessageFor(m => m.Description)
            </li>
             <li>
                @Html.LabelFor(m => m.EndDate)
                @Html.TextBoxFor(m => m.EndDate)
                @Html.ValidationMessageFor(m => m.EndDate)
            </li>
            <li>
                @Html.LabelFor(m => m.State)
                @Html.DropDownListFor(m => m.State, new SelectList(new List<TaskStateViewModel>() { TaskStateViewModel.Completed, TaskStateViewModel.Draft, TaskStateViewModel.Started }));
            </li>
            
        </ol>
        <input type="submit" value="Создать" />
    </fieldset>
}
    <p>
        @Html.ActionLink("Back", "TaskList", "Task", new { idProject = Model.ProjectId }, new object())
    </p>
