﻿@using TimeReportingSystem.Models;
@model IEnumerable<TaskViewModel>

@{
    ViewBag.Title = "TaskList";
}

<h2>Task list</h2>
<fieldset>
    <legend>Список задач</legend>
    <table>
        <tr>
            <th></th>
            <th>Название проекта </th>
            <th>Описание  </th>
            <th>Дата начала  </th>
            <th>Дата завершения  </th>
            <th></th>
        </tr>
 
        @foreach (TaskViewModel item in Model)
        {
            <tr>
                 <th>
                    @Html.HiddenFor(modelItem => item.Id)
                </th>
                <th>
                    @Html.ActionLink(item.Name, "ReportList", "Report", new { idTask = item.Id, idProject = item.ProjectId }, new object())
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Description)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </th>
                @if (AccessLevelViewModel.Manager.Equals((AccessLevelViewModel)Session["Access"])) 
                {
                    <th>@Html.ActionLink("Список юзеров", "UsersOnTask", "User", new { idTask = item.Id, idProject = item.ProjectId }, new object())</th>
                    <th>@Html.ActionLink("Редактирование", "EditTask", "Task", new { idTask = item.Id, idProject = item.ProjectId }, new object())</th>
                    <th>@Html.ActionLink("Удаление", "DeleteTask", "Task", new { idTask = item.Id, idProject = item.ProjectId }, new object())</th>
                }
            </tr>
        }
    </table>
     @if (AccessLevelViewModel.Manager.Equals((AccessLevelViewModel)Session["Access"])) 
     {
        <p>@Html.ActionLink("Создать задачу", "AddTask", "Task", new { idProject = ViewBag.idProject }, new object())</p>
     }
       @Html.ActionLink("Back", "ProjectList", "Project")
</fieldset>
