﻿@model TimeReportingSystem.Models.TaskReportViewModel

@{
    ViewBag.Title = "AddTaskReport";
}

<h2>AddTaskReport</h2>
@using (Html.BeginForm(@"Report\AddTaskReport")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

     <fieldset>
        <legend>Создание Репорта</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.DateReport)
                @Html.TextBoxFor(m => m.DateReport)
                @Html.ValidationMessageFor(m => m.DateReport)
            </li>
            <li>
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description)
            </li>
            <li>
                @Html.LabelFor(m => m.Effort)
                @Html.TextBoxFor(m => m.Effort)
                @Html.ValidationMessageFor(m => m.Effort)
            </li>
            <li>
                @Html.HiddenFor(m => m.TaskId)
            </li>
            <li>
                @Html.HiddenFor(m => m.Id)
            </li>
            <li>
                @Html.HiddenFor(m => m.IdUser)
            </li>
        </ol>
        <input type="submit" value="Создать" />
    </fieldset>
}
    <p>
        @Html.ActionLink("Back", "ReportList", "Report", new { idTask = ViewBag.idTask, idProject = ViewBag.idProject }, new object())
    </p>