﻿@using TimeReportingSystem.Models
@model IEnumerable<TaskReportViewModel>

@{
    ViewBag.Title = "ReportList";
}

<h2>ReportList</h2>
<fieldset>
    <legend>Репорты</legend>
    <table>
        <tr>
            <th></th>
            <th>Дата репорта </th>
            <th>Описание  </th>
            <th>Дата создания  </th>
            <th>Усилия  </th>
            <th>Дата изменения</th>
        </tr>
 
        @foreach (TaskReportViewModel item in Model)
        {
            <tr>
                 <th>
                    @Html.HiddenFor(modelItem => item.Id)
                </th>
                <th>
                    @Html.ActionLink(item.DateReport.ToString(), "EditReport", "Report", new { idReport = item.Id, idTask = item.TaskId, idProject = ViewBag.idProject }, new object())
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Description)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Effort)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.DateEdited)
                </th>
                 <th>
                    @Html.ActionLink("Удаление", "DeleteReport", "Report", new { idReport = item.Id, idTask = item.TaskId, idProject = ViewBag.idProject }, new object())
                </th>
            </tr>
        }
    </table>
    <p>@Html.ActionLink("Создать репорт", "AddReport", "Report", new { idProject = ViewBag.idProject, idTask = ViewBag.idTask }, new object())</p>
       @Html.ActionLink("Back", "TaskList", "Task", new { idProject = ViewBag.idProject }, new object())
</fieldset>
