﻿@model TimeReportingSystem.Models.ProjectViewModel

@{
    ViewBag.Title = "AddProject";
}

<h2>AddProject</h2>

@using (Html.BeginForm(@"Project\AddProject")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

     <fieldset>
        <legend>Создание проекта</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description)
                @Html.ValidationMessageFor(m => m.Description)
            </li>
             <li>
                @Html.LabelFor(m => m.EndDate)
                @Html.TextBoxFor(m => m.EndDate)
                @Html.ValidationMessageFor(m => m.EndDate)
            </li>
        </ol>
        <input type="submit" value="Создать" />
    </fieldset>
    <p>
        @Html.ActionLink("Back", "MyProjects", "Project")
    </p>
}