﻿@using TimeReportingSystem.Models;
@model IEnumerable<ProjectViewModel>

@{
    ViewBag.Title = "MyProjects";
}

<h2>MyProjects</h2>
<fieldset>
    <legend>Проекты</legend>
    <table>
        <tr>
            <th></th>
            <th>Название проекта </th>
            <th>Описание  </th>
            <th>Дата начала  </th>
            <th>Дата завершения  </th>
        </tr>
 
        @foreach (ProjectViewModel item in Model)
        {
            <tr>
                 <th>
                    @Html.HiddenFor(modelItem => item.Id)
                </th>
                <th>
                    @Html.ActionLink(item.Name, "UserList", "User", new { idProject = item.Id }, new object())
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Description)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </th>
                <th>@Html.ActionLink("Редактирование", "EditProject", "Project", new { idProject = item.Id }, new object())</th>
                <th>@Html.ActionLink("Удаление", "RemoveProject", "Project", new { idProject = item.Id }, new object())</th>
            </tr>
        }
    </table>
    <p>@Html.ActionLink("Создать проект", "AddProject", "Project")</p>
       @Html.ActionLink("Back", "ProjectList", "Project")
</fieldset>