﻿@using TimeReportingSystem.Models;
@model IEnumerable<ProjectViewModel>

@{
    ViewBag.Title = "Project list";
    //RoleViewModel role = (RoleViewModel)Session["Role"];
}

<fieldset>
    <legend>Проекты на которые я подписан</legend>
    <table>
        <tr>
            <th></th>
            <th>Название проекта </th>
            <th>Описание  </th>
            <th>Дата начала  </th>
            <th>Дата завершения  </th>
            <th>Количество пользователей </th>
        </tr>
 
        @foreach (ProjectViewModel item in Model)
        {
            <tr>
                 <th >
                    @Html.HiddenFor(modelItem => item.Id)
                </th>
                <th>
                    @Html.ActionLink(item.Name, "TaskList", "Task", new { idProject = item.Id }, new object())
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Description)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </th>
                <th>@item.AccessList.Count()</th>
            </tr>
        }
    </table>
    <p>
        @if (RoleViewModel.Admin.Equals((RoleViewModel)Session["Role"]))
        {
            @Html.ActionLink("Мои проекты", "MyProjects", "Project");
        }
       
    </p>
</fieldset>