﻿@using TimeReportingSystem.Models
@model IEnumerable<UserViewModel>

@{
    ViewBag.Title = "AddUser";
}

<h2>Добавление юзера на проект</h2>

<fieldset>
    <legend>Пользователи</legend>
    <table>
        <tr>
            <th>Логин </th>
            <th>Роль в проекте </th>
            <th></th>
        </tr>
        @foreach (UserViewModel item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Login)
                </th>
                <th>
                    @Html.ActionLink(AccessLevelViewModel.Member.ToString(), "AssignedUser", "User", new { idProject = ViewBag.idProject, idUser = item.Id, accessLevel = AccessLevelViewModel.Member, login = item.Login }, new object())
                </th>
                <th>
                    @Html.ActionLink(AccessLevelViewModel.Manager.ToString(), "AssignedUser", "User", new { idProject = ViewBag.idProject, idUser = item.Id, accessLevel = AccessLevelViewModel.Manager, login = item.Login }, new object())
                </th>
            </tr>
        }
    </table>
</fieldset>

    <p>
        @Html.ActionLink("Create user", "CreateUser", "User", new { idProject = ViewBag.idProject }, new object())
    </p>
        @Html.ActionLink("Back", "UserList", "User", new { idProject = ViewBag.IdProject }, new object())
    