﻿@model TimeReportingSystem.Models.UserViewModel

@{
    ViewBag.Title = "Create user";
}

<h2>AddUser</h2>

@using (Html.BeginForm(@"User\CreateUser")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Форма входа</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Login)
                @Html.TextBoxFor(m => m.Login)
                @Html.ValidationMessageFor(m => m.Login)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName)
            </li>
        </ol>
        <input type="submit" value="Выполнить вход" />
    </fieldset>
    <p>
        @Html.ActionLink("Back", "UserList", "User", new { idProject = ViewBag.IdProject }, new object())
    </p>
}