﻿@using TimeReportingSystem.Models
@model AccessViewModel

@{
    ViewBag.Title = "EditRoleUser";
}

<h2>Edit role user</h2>

@using (Html.BeginForm(@"User\EditRoleUser")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

     <fieldset>
        <legend>Создание задачи</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Login)
                @Html.DisplayFor(m => m.Login)
            </li>
            
            <li>
                @Html.LabelFor(m => m.Level)
                @Html.DropDownListFor(m => m.Level, new SelectList(new List<AccessLevelViewModel>() { AccessLevelViewModel.Member, AccessLevelViewModel.Manager }));
            </li>
            <li>
                @Html.HiddenFor(m => m.IdProject)
            </li>
            <li>
                @Html.HiddenFor(m => m.Id)
            </li>
             <li>
                @Html.HiddenFor(m => m.IdUser)
            </li>
            
        </ol>
        <input type="submit" value="Изменить" />
    </fieldset>
}
    @Html.ActionLink("Back", "UserList", "User", new { idProject = Model.IdProject }, new object())