﻿@using TimeReportingSystem.Models;
@model IEnumerable<UserViewModel>

@{
    ViewBag.Title = "UnassignedUserOnTask";
}

<h2>UnassignedUserOnTask</h2>

<fieldset>
    <legend>Добавление юзеров на задачуу</legend>
    <table>
        <tr>
            <th>Логин </th>
            <th>Имя  </th>
            <th>Фамилия  </th>
        </tr>
 
        @foreach (UserViewModel item in Model)
        {
            <tr>
                <th>
                    @Html.ActionLink(item.Login, "AddUserOnTask", "User", new { idUser = item.Id , idTask = ViewBag.idTask, idProject = ViewBag.idProject }, new object())
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.LastName)
                </th>
            </tr>
        }
    </table>
</fieldset>

    <p>
        @Html.ActionLink("Back", "UsersOnTask", "User", new { idTask = ViewBag.idTask, idProject = ViewBag.idProject }, new object())
    </p>