﻿@using TimeReportingSystem.Models
@model IEnumerable<UserViewModel>

@{
    ViewBag.Title = "UsersOnTask";
}

<h2>UsersOnTask</h2>

<fieldset>
    <legend>Пользователи назначенные на задачу</legend>
    <table>
        <tr>
            <th>Логин </th>
            <th>Имя  </th>
            <th>Фамилия  </th>
            <th></th>
        </tr>
 
        @foreach (UserViewModel item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Login)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.LastName)
                </th>
                <th>
                    @Html.ActionLink("Удалить с задачи", "RemoveUserFromTask", "User", new { idUser = item.Id, idTask = ViewBag.idTask, idProject = ViewBag.idProject }, new object())
                </th>
            </tr>
        }
    </table>
</fieldset>

    <p>
        @Html.ActionLink("Assign user", "UnassignedUserOnTask", "User", new { idTask = ViewBag.idTask, idProject = ViewBag.idProject }, new object())
        @Html.ActionLink("Back", "TaskList", "Task", new { idProject = ViewBag.idProject }, new object())
    </p>