﻿@using TimeReportingSystem.Models;
@model IEnumerable<AccessViewModel>

@{
    ViewBag.Title = "UserList";
}

<fieldset>
    <legend>Юзеры проекта</legend>
    <table>
        <tr>
            <th>Логин </th>
            <th>Роль  </th>
        </tr>
 
        @foreach (AccessViewModel item in Model)
        {
            <tr>
                <th>
                    @Html.ActionLink(item.Login, "UsersList", "User", new { id = item.Id }, new object())
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Level)
                </th>
                <th>@Html.ActionLink("Изменить роль", "EditRoleUser", "User", new { idAccess = item.Id, idProject = item.IdProject }, new object())</th>
                <th>@Html.ActionLink("Удалить с проекта", "RemoveUserFromProject", "User", new { idProject = item.IdProject, idAccess = item.Id }, new object())</th>
            </tr>
        }
    </table>
</fieldset>

    <p>
        @Html.ActionLink("Add user", "AddUser", "User", new { idProject = ViewBag.idProject }, new object())
        @Html.ActionLink("Back", "MyProjects", "Project")
    </p>